<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldtek.rangefinder"
    android:versionCode="7"
    android:versionName="1.06" >
    <!-- TODO: modify the copyright comment for version number -->

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.goldtek.rangefinder.RangerFLink"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="com.goldtek.bluetoothle.activity.Show_Alarm" />
            </intent-filter>
        </activity>
		<service android:name=".BluetoothLeService" android:enabled="true" >
		    <intent-filter>
		        <action android:name="com.goldtek.bluetoothleservice.Start_Service" />
		    </intent-filter>
		</service>
    </application>

</manifest>
